.page-container{
  background-image: url(../../../../assets/drone_logo.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;

}


.page-layout {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 5px;
  background-color: rgb(151, 151, 151);
  width: 200px;
  font-size: medium;
  border: solid;
}

button:hover{
  background-color: rgb(126, 125, 125);
}

h1 {
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}
