
.page-container{
  background-image: url(../../../../assets/drone_logo.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.page-layout {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 5px;
  width: 200px;
  background-color: #593697;
  color: white;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
}

h1 {
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}
