<div>
    <mat-card class="title">
        <mat-card-title class="sidebar-title">Map Catalog</mat-card-title>
    </mat-card>
</div>
<div>
    <mat-card
        *ngFor="let map of maps"
        class="map-card"
        (click)="getMapSelected(map.id)">
        <div class="map-id-area">
            <span><img src="assets/icon/location_on.svg" class="map-icon" alt="*" /></span>
            <span class="map-name"> {{ map.name }} {{map.id}}</span>
        </div>
        <div class="map-creation-date-area">
            <span class="map-date">CREATION DATE : {{ map.date }} </span>
        </div>
    </mat-card>
</div>