[submodule "robot/crazyflie-firmware"]
	path = robot/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "simulation/googletest"]
	path = simulation/googletest
	url = https://github.com/google/googletest.git
