
<h3>Drone List</h3>
<mat-selection-list #droneId [multiple]="false" (selectionChange)="onDroneChange()">
    <mat-divider></mat-divider>
    <mat-list-option [value]=0 (click)="sidebar.board.toggle()">
        <p>Drone 1
        <img class="socket.online[0] ? active : disable" src="../../../../assets/baseline_fiber_manual_record_black_18dp.png"/>
        </p>
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option [value]=1 (click)="sidebar.board.toggle()">
        <p>Drone 2
            <img class="socket.online[0] ? active : disable" src="../../../../assets/baseline_fiber_manual_record_black_18dp.png"/>
        </p>

    </mat-list-option>
    <mat-divider></mat-divider>
</mat-selection-list>
<p>
    Option selected: Drone {{droneId.selectedOptions.selected[0]?.value + 1}}
</p>

    

   