<mat-card class="drone-List">
    <mat-card-title>Drone List</mat-card-title>
    <mat-card-content>
        <mat-selection-list #droneId [multiple]="false" (selectionChange)="onDroneChange()">
            <mat-list-option *ngFor="let drone of drones" [value]=drone.droneId (click)="sidebar.board.toggle()">
                <p>Drone {{drone.droneId + 1}}</p>
            </mat-list-option>
            
        </mat-selection-list>
    </mat-card-content>
    <mat-card-footer>
        Option selected: Drone {{droneId.selectedOptions.selected[0]?.value + 1}}
    </mat-card-footer>
</mat-card>


    

   