<div>
  <mat-card class="title-card" [ngClass]="isConnected ? 'connected-title-card' : 'disconnected-title-card'">
    <mat-card-title class="sidebar-title" disabled> {{ connectionStatus }}</mat-card-title>
  </mat-card>

  <mat-card
    *ngFor="let drone of drones"
    class="drone-card"
    [class.disconnected-card]="!isConnected"
    (click)="toogleSelectedDroneBoard(drone.droneId)"
  >
    <div class="drone-id-area">
      <span><img src="assets/icon/drone-icon.svg" class="drone-icon" alt="*" /></span>
      <span class="drone-id"> ID : {{ drone.droneId }} </span>
    </div>

    <div class="drone-position-area">
      <span> SPEED : {{ drone.getScalarSpeed() }} </span>
    </div>

    <div class="drone-state-area">
      <span class="drone-state">{{ drone.getDroneStateText() }}</span>
    </div>

    <div class="drone-battery-area">
      <progress max="100" [value]="drone.getBatteryLevel()"></progress>
    </div>
  </mat-card>
</div>
