.page-container {
  display: grid;
  grid-template-columns: 350px 7.5fr;
  grid-template-areas: "map-list map";
  height: 100%;
}

app-map-list {
    grid-area: "map-list";
    background-color: lightgrey;
    border-right: #bdbdbd solid 1px;
}

app-select-map {
    grid-area: "map";
    background-color: rgb(238, 233, 247);
}