[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
python-socketio = "*"
flask-socketio = "*"
flask-restful = "*"
cflib = "*"
socketio = "*"

[dev-packages]

[requires]
python_version = "3.8"
