@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.page-layout {
  display: grid;
  grid-template-columns: 1.5fr 7.5fr;
  grid-template-areas:
    "drone-list map";
  height: 100%;
}

.drone-list{
  grid-area: "drone-list";
  background-color: "secondary";
}
.map-area {
  grid-area: "map";
  background-color: rgb(238, 233, 247);

}

.drone-selected-board {
  background-color: rgb(79, 53, 109);
  color:snow;
  width: 20%;
}