@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.page-layout {
  display: grid;
  grid-template-columns: 350px 7.5fr;
  grid-template-areas: "drone-list map";
  height: 100%;
}

.drone-list {
  grid-area: "drone-list";
  background-color: lightgrey;
  border-right: #bdbdbd solid 1px;
}

.map-area {
  grid-area: "map";
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: rgb(238, 233, 247);
}

.drone-selected-board {
  background-color: rgb(79, 53, 109);
  color: snow;
  width: 250px;
}
