.page-layout {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
    "drone-list board";
}

.drone-board-container {
  grid-area: board;
}

.drone-board {
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: 
  "drone-swarm"
  "generated-map";
}


.drone-list-area {
  grid-area: drone-list;
  background-color: rgb(155, 155, 155);
}


.drone-swarm-area {
    grid-area: drone-swarm;
    background-color: rgb(225, 225, 225);
  }

.map-generated-area {
  grid-area: generated-map;
  background-color: rgb(215, 215, 215);
}

.sidenav {
  background-color: rgb(205,205,205);
}