@import '@angular/material/prebuilt-themes/purple-green.css';

.select-map{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
}

.info-select-map{
    display: flex;
    flex-direction: row;
}
p {
    margin: 0;
    font: 16px Roboto, "Helvetica Neue", sans-serif;
}

.delete-select-map {
    margin: 5px;
}

.detail{
    display: flex;
    flex-direction: column;
}

.title{
    margin-left:10px;
    margin-right: 10px;
}
