<div>
  <button mat-raised-button color="primary" (click)="sendSwarmTakeOffRequest()">START MISSION</button>
  <button mat-raised-button color="primary" (click)="sendSwarmReturnToBaseRequest()">RETURN TO BASE MISSION</button>
  <button mat-raised-button color="primary" (click)="sendEmmergencyLandingRequest()">EMERGENCY LANDING</button>
  <button mat-raised-button color="disabled">LANDING</button>
  <button mat-raised-button color="disabled">TURN ON LED</button>
  <button mat-raised-button color="disabled">TURN OFF LED</button>
  <button mat-raised-button color="warn" (click)="openUpdateDialog()">UPDATE SOFTWARE</button>
</div>
