<div class="action-button">
  <button mat-raised-button color="primary" (click)="sendSwarmTakeOffRequest()">START MISSION</button>
  <button mat-raised-button color="primary" (click)="sendSwarmReturnToBaseRequest()">RETURN TO BASE MISSION</button>
  <button mat-raised-button color="primary" (click)="sendEmmergencyLandingRequest()">EMERGENCY LANDING</button>
  <button mat-raised-button color="primary" (click)="sendLandingRequest()">LANDING</button>
  <button mat-raised-button color="primary" (click)="openUpdateDialog()">UPDATE SOFTWARE</button>
</div>
